<!doctype html>
<html>

      <head>
         <!-- <link rel="stylesheet" href="static/main.css"> 
         file:///Users/ayethantmay/Documents/KMUTT_Master/1st_Year/1st_Semester/CPE_651_Multimedia_Information_Retrieval/Assignment_2/image_search/-->
      </head>

   <body>

         <h1>You Uploaded this Photo to search.</h1> 
         <a><h4> file:///Users/ayethantmay/Documents/KMUTT_Master/1st_Year/1st_Semester/CPE_651_Multimedia_Information_Retrieval/Assignment_2/image_search_color_4/{{ query }} </h4></a> 

         <hr/>

         <h1>Here are the top 10 search results for you !</h1> 
   <a><h4> file:///Users/ayethantmay/Documents/KMUTT_Master/1st_Year/1st_Semester/CPE_651_Multimedia_Information_Retrieval/Assignment_2/image_search_color_4/{{ name1 }} </h4></a>     
   <a><h4> file:///Users/ayethantmay/Documents/KMUTT_Master/1st_Year/1st_Semester/CPE_651_Multimedia_Information_Retrieval/Assignment_2/image_search_color_4/{{ name2 }} </h4></a>     
   <a><h4> file:///Users/ayethantmay/Documents/KMUTT_Master/1st_Year/1st_Semester/CPE_651_Multimedia_Information_Retrieval/Assignment_2/image_search_color_4/{{ name3 }} </h4></a>     
   <a><h4> file:///Users/ayethantmay/Documents/KMUTT_Master/1st_Year/1st_Semester/CPE_651_Multimedia_Information_Retrieval/Assignment_2/image_search_color_4/{{ name4 }} </h4></a>   
   <a><h4> file:///Users/ayethantmay/Documents/KMUTT_Master/1st_Year/1st_Semester/CPE_651_Multimedia_Information_Retrieval/Assignment_2/image_search_color_4/{{ name5 }} </h4></a>   
   <a><h4> file:///Users/ayethantmay/Documents/KMUTT_Master/1st_Year/1st_Semester/CPE_651_Multimedia_Information_Retrieval/Assignment_2/image_search_color_4/{{ name6 }} </h4></a>    
   <a><h4> file:///Users/ayethantmay/Documents/KMUTT_Master/1st_Year/1st_Semester/CPE_651_Multimedia_Information_Retrieval/Assignment_2/image_search_color_4/{{ name7 }} </h4></a>   
   <a><h4> file:///Users/ayethantmay/Documents/KMUTT_Master/1st_Year/1st_Semester/CPE_651_Multimedia_Information_Retrieval/Assignment_2/image_search_color_4/{{ name8 }} </h4></a>    
   <a><h4> file:///Users/ayethantmay/Documents/KMUTT_Master/1st_Year/1st_Semester/CPE_651_Multimedia_Information_Retrieval/Assignment_2/image_search_color_4/{{ name9 }} </h4></a>   
   <a><h4> file:///Users/ayethantmay/Documents/KMUTT_Master/1st_Year/1st_Semester/CPE_651_Multimedia_Information_Retrieval/Assignment_2/image_search_color_4/{{ name10 }} </h4></a>  

   </body>
</html>

